{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "src/**/*.ts",
      "options": {
        "tabWidth": 2,
        "semi": true
      }
    }
  ]
}
